<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recommended movies</title>
        <link rel = "stylesheet" href = "/styles/style2.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Zen+Dots&display=swap" rel="stylesheet">
    </head>

    <body>  
        <header>
            <div class="logo">Flixora</div>
        </header>

        <% if(movies){ %>
            <% if(locals.data){ %>
                <div class = "text">You searched for : "<%= data.query %>"</div>
            <%} %>
            <% if(locals.trend){ %>
                <div class = "text">Movies trending near you</div>
            <%} %>
            <div class = "grid">
           <% movies.forEach(movie=>{ %>
                <a href = "/movies/<%= movie.id %>"><img src = "https://image.tmdb.org/t/p/w500<%= movie.poster_path%>" alt = "poster" height = "300" width = "200"></a>
        <%   }) %>
           </div>
        <%}else{ %>

        <%} %>
    </body>
</html>